{% load static %}
<form method="post">
    {% csrf_token %}
    <h1 class="py-3"> Formulario de ingreso </h1>
    <div class="form-floating">
        <input class="form-control" type="text" placeholder="o">
        <label for="floatingPassword">Ingrese su nombre:</label>
    </div>

    <div class="form-floating">
        <input class="form-control" type="text" placeholder="o">
        <label for="floatingPassword">Ingrese su apellido:</label>
    </div>

    <div class="form-floating">
        <input class="form-control" type="text" placeholder="o">
        <label for="floatingPassword">Ingrese su rut:</label>
    </div>

    <button class="w-100 btn btn-lg btn-primary" type="submit">Iniciar sesión</button>
</form>